.carding{
    width: 100%;
    height: 100%;
}

/****** material tabs design *********/
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:white;
    background-color: #2F2483;
    }
    
    ::ng-deep .mat-tab-list .mat-tab-labels {
    /* color:blue; */
    background-color: #2F2483;
    }
    
    /*********** material table design **********/
    .green-color {
        color:green;
    }
    .red-color {
      color: red;
    }
    
    mat-header-cell {
        justify-content: center;
        background-color: #2F2483;
        color: white;

      }
    
      
    .mat-cell {
        text-align: center;
        justify-content:center;
      }