<!-- <p>form works!</p>
<div class="jumbotron text-center">
    <h1>form component </h1>
  </div>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <label>name</label>
        <input type="text" [(ngModel)]="userObj.name" class="form-control" placeholder="Please Enter the value">
      </div>
      <div class="col-sm-4">
        <label class="text-center">city</label>
        <input type="text" [(ngModel)]="userObj.city" class="form-control" placeholder="Please Enter the value">
      </div>
      <div class="col-sm-4">
        <label>country</label>        
        <input type="text" [(ngModel)]="userObj.country" class="form-control" placeholder="Please Enter the value">
      </div>
    </div>
</div>
<button  (click)="onSave()" class="btn btn-primary">sign </button>
<br>
<br> -->