<!-- <p>app comp is work</p>

<div class="jumbotron text-center">
  <h1>Component </h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <label>Start</label>
      <input type="text" class="form-control" placeholder="Please Enter the value">
    </div>
    <div class="col-sm-4">
      <label class="text-center">Target</label>
      <input type="text" class="form-control" placeholder="Please Enter the value">
    </div>
    <div class="col-sm-4">
      <label>Percentage</label>        
      <input type="text" class="form-control" placeholder="Please Enter the value">
    </div>
  </div>
  <!-- second row dec -->
  <!-- <div class="row mt-2">
    <div class="col-sm-4">
      <label>Monthly Increment</label>
      <input type="text" class="form-control" placeholder="Please Enter the value">
    </div>
    <div class="col-sm-4 text-center">
      <label class=""></label> 
      <br>       
      <button type="button" class="btn btn-primary">Okay</button>
    </div>
  </div> -->

  <!-- table -->
  <!-- <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Start</th>
        <th scope="col">Target</th>
        <th scope="col">Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>

      </tr>
    </tbody>
  </table>
  
</div> -->


<!-- <app-form></app-form> --> 
<app-testing></app-testing>
<!-- <app-logout></app-logout> -->
<!-- <app-studentlist></app-studentlist> -->
<router-outlet></router-outlet>
